*.egg-info
*.pyc
.tox
build
dist
MANIFEST
env
servers/*/kafka-bin*
servers/*/resources/ssl*
servers/*/messages/*
.coverage*
.noseids
docs/_build
.cache*
.idea/
integration-test/
tests-env/
.pytest_cache/
.envrc
shell.nix
.venv*/
.direnv/
.scratch/
