language: python

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy

env:
    - KAFKA_VERSION=0.8.2.2
    - KAFKA_VERSION=0.9.0.1
    - KAFKA_VERSION=0.10.2.1
    - KAFKA_VERSION=0.11.0.2
    - KAFKA_VERSION=1.1.1

addons:
  apt:
    packages:
      - libsnappy-dev

cache:
  directories:
    - $HOME/.cache/pip
    - servers/

before_install:
    - ./build_integration.sh

install:
    - pip install tox coveralls
    - pip install .

script:
  - tox -e `if [ "$TRAVIS_PYTHON_VERSION" == "pypy" ]; then echo pypy; else echo py${TRAVIS_PYTHON_VERSION/./}; fi`

after_success:
  - coveralls
