language: python

python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - pypy

env:
    - UNIT_AND_LINT_ONLY=true
    - KAFKA_VERSION=0.8.0
    - KAFKA_VERSION=0.8.1
    - KAFKA_VERSION=0.8.1.1
    - KAFKA_VERSION=0.8.2.2
    - KAFKA_VERSION=0.9.0.0

sudo: false

addons:
  apt:
    packages:
      - libsnappy-dev

cache:
  directories:
    - $HOME/.cache/pip
    - servers/

before_install:
    - ./build_integration.sh

install:
    - pip install tox coveralls
    - pip install .

deploy:
  provider: pypi
  server: https://pypi.python.org/pypi
  user: mumrah
  password:
    secure: TIZNKxktOm42/LHLDCuKuPqmAfYKekyHL4MqEFpnqDI5T5sHzG9IQaOwppYfQNggHiILUBzk1j6w/FPJunJyd62AFtydkKtIccqENIIAio78afeCRMQDynstNXjDefmt0s90xLGSlLzDMxCEWB4F6frEtPl/8KpNSFB2fvj+HXY=
  on:
    tags: true
    all_branches: true
    # TODO replace all_branches with "branch: master" after https://github.com/travis-ci/travis-ci/issues/1675 is fixed
    # branch: master

script:
  - tox -e py${TRAVIS_PYTHON_VERSION/./}

after_success:
  - coveralls
