language: python

python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - pypy

env:
    - KAFKA_VERSION=0.8.0
    - KAFKA_VERSION=0.8.1.1
    - KAFKA_VERSION=0.8.2.2
    - KAFKA_VERSION=0.9.0.1

sudo: false

addons:
  apt:
    packages:
      - libsnappy-dev

cache:
  directories:
    - $HOME/.cache/pip
    - servers/

before_install:
    - ./build_integration.sh

install:
    - pip install tox coveralls
    - pip install .

deploy:
  provider: pypi
  server: https://pypi.python.org/pypi
  user: mumrah
  password:
    secure: TIZNKxktOm42/LHLDCuKuPqmAfYKekyHL4MqEFpnqDI5T5sHzG9IQaOwppYfQNggHiILUBzk1j6w/FPJunJyd62AFtydkKtIccqENIIAio78afeCRMQDynstNXjDefmt0s90xLGSlLzDMxCEWB4F6frEtPl/8KpNSFB2fvj+HXY=
  on:
    tags: true
    branch: master

script:
  - tox -e `if [ "$TRAVIS_PYTHON_VERSION" == "pypy" ]; then echo pypy; else echo py${TRAVIS_PYTHON_VERSION/./}; fi`

after_success:
  - coveralls
