flake8==3.4.1
pytest==3.4.0
pytest-cov==2.5.1
docker-py==1.10.6
coveralls==1.2.0
Sphinx==1.6.4
lz4==0.19.1
xxhash==1.0.1
python-snappy==0.5.1
tox==2.9.1
pylint==1.8.2
pytest-pylint==0.7.1
pytest-mock==1.6.3
sphinx-rtd-theme==0.2.4
crc32c==1.2
