flake8==3.6.0
pytest==3.6.3
pytest-cov==2.6.0
docker-py==1.10.6
Sphinx==1.7.9
lz4==1.1.0
xxhash==1.0.1
python-snappy==0.5.3
tox==3.1.2
pylint==1.8.2
pytest-pylint==0.11.0
pytest-mock==1.10.0
sphinx-rtd-theme==0.2.4
mock==2.0.0
decorator==4.3.0
tox-pip-extensions==1.2.1
crc32c==1.7
py==1.8.0
